<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="MySqlServerStr" connectionString="ZDIErGHAzEFBzAHDqFHAwEBAEBHA4DAA9GHG9ECE2AEA8IAA6HBA9EFA9HGC9EEAABFAJBFAdDAAzGDDcACAgAFAlHEAzIBCjDCA9ADHzIBJzAICzIFGzICE9AEGeIIAsCIAhAEAIFHAzFFCoAAAvBGAzDDA9CCGTCCAzCFEkGBAJFIAyFBAlFGAEBEA8CFA6DBA9DHE9EED9FFG9FDFDCHAmICArFFAiDFAzIGGxCDAgBBAxDBAGHDAzBIEzEFDqGFA9DBDFIDAOHHAxGGAwIDAzHGCzICH%FAAZCFCzEFChDAAtACA%DCAZFBCjDGAzHFElADAmIEAoFIAsGBAqIEAzDHDDCFAZBFAzHBAzFIIgBBA" providerName="System.Data.MySql"/>
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="PatSISvsSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <!--<endpoint address="http://192.168.131.10:8080/PatSI/PatSiSvs.asmx" binding="basicHttpBinding" bindingConfiguration="PatSISvsSoap" contract="UPServer.PatSISvsSoap" name="PatSISvsSoap"/>-->
      <endpoint address="http://124.193.122.133:8080/PatSI/PatSiSvs.asmx" binding="basicHttpBinding" bindingConfiguration="PatSISvsSoap" contract="UPServer.PatSISvsSoap" name="PatSISvsSoap"/>
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
