<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <root>
      <level value="ERROR" />
      <appender-ref ref="LogFileAppender" />
    </root>
    <appender name="LogFileAppender"  type="log4net.Appender.FileAppender" >
      <param name="File" value="log\log-file.log" />
      <param name="AppendToFile" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern"  value="%d [%t] %-5p %c [%x] &lt;%X{auth}&gt;%n - %m%n" />
      </layout>
    </appender>
    <appender name="ImportAppender"  type="log4net.Appender.FileAppender" >
      <param name="File" value="log\import.log" />
      <param name="AppendToFile" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern"  value="%m%n" />
      </layout>
    </appender>
    <appender name="SystemAppender"  type="log4net.Appender.FileAppender" >
      <param name="File" value="log\System.log" />
      <param name="AppendToFile" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern"  value="%m%n" />
      </layout>
    </appender>
    <logger name="Import">
      <level value="INFO"/>
      <appender-ref ref="ImportAppender"/>
    </logger>
    <logger name="System">
      <level value="INFO"/>
      <appender-ref ref="SystemAppender"/>
    </logger>
  </log4net>
</configuration>